<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.40" targetFramework="net45" />
  <package id="DotNetZip" version="1.9.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1-beta3" targetFramework="net45" />
  <package id="openrasta-core" version="2.5.53" targetFramework="net45" />
  <package id="openrasta-hosting-aspnet" version="2.5.25" targetFramework="net45" />
  <package id="RestSharp" version="105.1.0" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.40" targetFramework="net45" />
</packages>