<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.14.0" targetFramework="net45" />
  <package id="DotNetZip" version="1.9.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net45" />
  <package id="openrasta-core" version="2.5.31" targetFramework="net45" />
  <package id="openrasta-hosting-aspnet" version="2.5.22" targetFramework="net45" />
  <package id="RestSharp" version="105.0.1" targetFramework="net40" />
  <package id="ServiceStack.Text" version="4.0.36" targetFramework="net45" />
</packages>